.Meetings {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}

.Meetings h2 {
  text-align: center;
}

.Meetings select {
  display: block;
  margin: 0 auto 1rem;
}

.Meetings hr {
  margin: 1.5rem 0;
}
